
    
.splash {
  background-image: url(http://lh3.googleusercontent.com/jH2eM7IBPavINW1fl-orKW6PaAwNpCqdeBVpsxqZokx9v4liS4ea74wLemlJq6WZEs4);
}
.watermark {
  background-image: url(http://lh3.googleusercontent.com/jH2eM7IBPavINW1fl-orKW6PaAwNpCqdeBVpsxqZokx9v4liS4ea74wLemlJq6WZEs4);
  background-size: 57px 57px;
}
 
